body {
	background: #e9e9e9;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	min-width: 500px;
	margin-bottom: 171px;
}

nav {
	font-size: 130%;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: #e9e9e9;
	padding: 1% 5% 2% 5%;
}

footer hr {
	background-color: #5F5E5E;
	min-height: 1px;
	margin: 0;
}

.headline {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 60px;
}

button.submit-btn {
	width: 100%;
}

div.error_message {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 130%;
    padding: 0;
    text-align: center;

    transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
}

img.user-avatar {
	width: 100%;
}

div.user-info {
	height: 225px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

#map-container {
	padding: 0;
	border-radius: 10px;
	border: 3px solid #222;
	height: 200px;
}
#map {
	border-radius: 10px;
	width: 100%;
	height: 100%;
}

form.profile-button-form {
	display: inline-block;
	padding: 0;
	margin-left: 2%;
	margin-right: 2%;
	width: 28.33%;
}

button.profile-button {
	background: #222;
	border-color: #222;
	padding: 0;
	width: 100%;
}

hr.profile-hr {
	border-color: #222;
	border-style: solid none;
	border-width: 1px 0;
	margin-top: 3px;
}

.headline {
	margin-bottom: 0;
	margin-top: 20px;
}

img.user-photo {
	padding-bottom: 15px;
	width: 100%;
	border-radius: 5px;
}

img.upload-photo {
	cursor: pointer;
}

div.user-tag {
	display: inline-block;
	text-align: center;
	width: 150px;
	padding: 2px;
	margin-top: 0;
	margin-right: 10px;
	margin-bottom: 20px;
	margin-left: 10px;
}

form.upload-form {
	display: none;
	max-height: 0;
	max-width: 0;
}

li.li-ntf {
	padding-left: 4%;
	padding-right: 4%;
	font-size: 130%;
	color: black;
}

span.li-ntf-time {
	float: right;
	opacity: 0.7;
}

div.notification {
    position: fixed;
    right: 20px;
    font-size: 130%;
    padding: 0;
    text-align: center;
    color: black;

    transition: all 0.6s ease-out;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
}

/*chat*/

.chat-img {
	width: 150px;
	height: 150px;
	margin-bottom: 10px;
	border-radius: 100%;
}

.chat-window {
	height: 70vh;
	padding-right: 20px;
	overflow: auto;
}

.chat-new-msg {
	border: none;
	resize: none;
	min-height: 60px;
}

/*search*/

a.search-link:hover,
a.search-link:visited,
a.search-link:link
{
	color: black;
	text-decoration: none;
}

