body {
	background: #e9e9e9;
	margin-bottom: 60px;    /*footer height*/
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	min-width: 500px;
}

footer {
	position: absolute;
	height: 60px;
	line-height: 40px;
	width: 100%;
	left: 0;
	bottom: 0;
	margin: 0;
	padding: 1% 5% 2% 5%;
	color: black;
}

footer hr {
	background-color: #5F5E5E;
	min-height: 1px;
	margin: 0;
}

footer div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h1.headline {
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 60px;
}

button.submit-btn {
	width: 100%;
}

div.error_message {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 130%;
    padding: 0;
    text-align: center;

    transition: all 3s ease-out;
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
}
